[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
twine = "*"
pytest-cov = "*"
codacy-coverage = "*"

[packages]
api = {editable = true,path = "."}

[requires]
python_version = "3.7"
